<%= provide(:title, 'New Forum') %>

<h1 style= "color: navy"><span class="logo_2">New</span><span class="logo_1">Forum</span></h1>

<%= form_for(@forum) do |f| %>

	<%= f.label :name %>
	<%= f.text_field :name %>

	<%= f.label :description %>
	<%= f.text_field :description %>

	<br>
	<%= f.submit "Create", class: "btn btn-large btn-primary" %>

<% end %>