<%= provide(:title, @forum.name) %>
<% if @forum.topics.empty? %>
	<div class="empty">
		<p>This forum is empty.</p> 
	</div>
<% else %>
	<table>
		<tr>
			<th width="60%">Topic Title</th>
			<th width="10%">Replies</th>
			<th width="30%">Last Post</th>
		</tr>
		<% for topic in @topics %>
			<tr>
				<td><%= link_to topic.title, forum_topic_path(@forum, topic) %></td>
				<td><%= topic.posts.count - 1 %></td>
				<td class="right">
					<%= distance_of_time_in_words_to_now topic.last_post_at %> ago by
					<%= link_to topic.user.name, user_path(topic.last_poster_id) %>
				</td>
				<% if admin? %>
					<td><%= link_to "Destroy", [@forum, topic], confirm: 'Are you sure?', method: :delete %></td>
				<% end %>
			</tr>
		<% end %>
	</table>
<% end %>
<p>
	<% if signed_in? %>
		<%= link_to "Create a New Topic", new_forum_topic_path(@forum.id) %>
	<% else %>
		<%= link_to "Sign Up", signup_path %> or <%= link_to "Sign In", signin_path %> to post a new topic.
	<% end %>
</p>