<% provide(:title, 'Comments index') %>
<div class="gradient_logo">
	<h1><span class="logo_1">Blog</span><span class="logo_2">App</span></h1>
</div>
<div class="cloud_rect post_rect comments_page">
	<div class="title_rect">			
		<%= image_tag("mario.png", alt: "mario", class: "mario", height: 50, width: 50) %>
		<h3 id="title"><%= link_to @blog_post.title,blog_post_comments_path(@blog_post) %></h3>
	</div>
	<span class= "left">
		<p>By <%= link_to h(@blog_post.user.name), user_path(@blog_post.user) %><br>
		Posted on <%= @blog_post.created_at.to_date.strftime("%B %d, %Y") %></p>
	</span>
	<span class= "right">
		<p><%= link_to h(@blog_post.comments.count) + ' Comments',blog_post_comments_path(@blog_post) %>
			<br>
			<%= link_to 'Make One', new_blog_post_comment_path(@blog_post) %>
		</p>
	</span>
	<div id="content">
		<br><br><br>
		<div class="content_rect_off">
			<p><%= simple_format(@blog_post.content) %></p>
		</div>
	</div>
</div>
<!--
<div class="post_rect">
	<div class="title_rect">
		<%= image_tag("mario.png", alt: "mario", class: "mario", height: 50, width: 50) %>
		<h3 id="title"><%= @blog_post.title %></h3>
	</div>
	<span class= "left">
		<p>By <%= link_to h(@blog_post.user.name), user_path(@blog_post.user) %><br>
		Posted on <%= @blog_post.created_at.to_date.strftime("%B %d, %Y") %></p>
	</span>
	<span class= "right">
		<p><%= link_to h(@blog_post.comments.count) + ' Comments',blog_post_comments_path(@blog_post) %>
			<br>
			<%= link_to 'Make One', new_blog_post_comment_path(@blog_post) %>
		</p>
	</span>

	<div id="content">
		<br><br><br>
		<div class="content_rect">
			<p><%= simple_format(@blog_post.content) %></p>
		</div>
	</div>
	<br>
	<section></section>
</div>
-->
<div class="edit_delete">
	<% if signed_in? %>
		<% if admin_or_owner?(@blog_post.user.id) %>
			<%= link_to "Edit Post", edit_blog_post_path(@blog_post) %> |
			<%= link_to "Delete Post", [@blog_post], confirm: 'Are you sure?', method: :delete %>
		<% end %>
	<% end %>
</div>
<div class="comments_cont">
	<h3><span class="logo_1"><%= @blog_post.comments.count %> Comments:</span></h3>
	<% @blog_post.comments.each do |comment| %>
		<div class="comment_user">
			<p><%= link_to comment.user.name, user_path(comment.user) %> says:</p> 
		</div>
		<div class="comment_rect">
			<p><%= comment.content %></p>
			<p class="date_tag">Posted on <%= comment.created_at.to_date.strftime("%B %d, %Y") %>.</p>
		</div>
		<div class="edit_delete">
			<% if signed_in? %>
				<% if admin_or_owner?(comment.user.id) %>
					<%= link_to "Edit Comment", edit_blog_post_comment_path(@blog_post, comment) %> |
					<%= link_to "Delete Comment", [@blog_post, comment], confirm: 'Are you sure?', method: :delete %>
				<% end %>
			<% end %>
		</div>
	<section>
	</section>
	<% end %>
</div>
<%= link_to 'Make A Comment', new_blog_post_comment_path(@blog_post) %> |
<%= link_to 'Back to Blog Posts', blog_posts_path %>