<% provide(:title, 'Comments index') %>
<h1>Blog App</h1>
<p>This is the Comments index page for Blog App</p>
<p>Find me in app/views/comments/index.html.erb</p>
<p><%=	@blog_post.comments.count %> Comments.</p>

<% @blog_post.comments.each do |comment| %>
	<p>name: <%= comment.user.name %> <br>email: <%= comment.user.email %>
		<br><%= link_to 'Profile', user_path(comment.user) %></p>
	<div>
		<p>Content:</p> 
		<p><%= comment.content %></p>
	</div>
	<p>Posted on <%= comment.created_at.to_date.strftime("%B %d, %Y") %>.</p>
	
	<section>
	</section>
<% end %>