<% provide(:title, 'New Comment') %>
<h1>New Comment</h1>
<p>This is the comment creation page.</p>
<div class = "filler">
	<div class="comment_form form">
	  <%= form_for([@blog_post, @comment]) do |f| %>

	      <%= f.hidden_field :user_id %>

	      <div class = "larger_input">
		      <%= f.label :content %>
		      <%= f.text_area :content %>
		  </div>

	      <%= f.hidden_field :blog_post_id %>

	      <br>
	      <%= f.submit "Create comment", class: "btn btn-large btn-primary" %>
      
      <% end %>
	</div>
</div>
