<% provide(:title, 'Blog Posts Index') %>
<h1>Blog App</h1>
<p>This is the index page for Blog App</p>
<p>Find me in app/views/blog_posts/index.html.erb</p>

<% @users.each do |user| %>
	<% user.blog_posts.each do |blog_post| %>
		<h3>title: <%= blog_post.title %></h3>
		<p>name: <%= blog_post.user.name %> <br>email: <%=	blog_post.user.email %></p>
		<div>
			<p>Content:</p> 
			<p><%= blog_post.content %></p>
		</div>
		<p>Posted on <%= blog_post.created_at.to_date.strftime("%B %d, %Y") %>.</p>
		<section>
		</section>
	<% end %>
<% end %>