<% provide(:title, 'New Blog Post') %>
<h1 style= "color: navy"><span class="logo_2">New</span><span class="logo_1">Blog</span><span class="logo_2">Post</span></h1>
<div class = "filler">
	<div class="blog_post_form form">
	  <%= form_for(@blog_post) do |f| %>

		  <%= f.hidden_field :user_id %>

	      <%= f.label :title %>
	      <%= f.text_field :title %>

	      <div class = "larger_input">
		      <%= f.label :content %>
		      <%= f.text_area :content %>
		  </div>

	      <br>
	      <%= f.submit "Create blog post", class: "btn btn-large btn-primary" %>
      
      <% end %>
	</div>
</div>
