<% provide(:title, @user.name) %>
<h1><%= @user.name %></h1>
<p>name: <%= @user.name %> <br>	email: <%=	@user.email %></p>

<div class="span8">
	<% if @user.blog_posts.any? %>
		<h3>Blog Posts (<%= @user.blog_posts.count %>)</h3>
		<ol class = "blog_posts">
			<%= render @blog_posts %>
		</ol>
		<%= will_paginate @blog_posts %>
	<% end %>
</div>
