<% provide(:title, @user.name) %>
<h1 class="user_name"><%= @user.name %></h1>

<div class="span8 lists_rect">
	<% if @user.blog_posts.any? %>
		<h3>Blog Posts (<%= @user.blog_posts.count %>)</h3>
		<ol class = "blog_posts">
			<%= render @blog_posts %>
		</ol>
		<%= will_paginate @blog_posts %>
	<% end %>
</div>
<div class="span8 lists_rect">
	<% if @user.comments.any? %>
		<h3>Comments (<%= @user.comments.count %>)</h3>
		<ol class = "comments">
			<%= render @comments %>
		</ol>
		<%= will_paginate @comments %>
	<% end %>
</div>
<div class="span8 lists_rect">
	<% if @user.topics.any? %>
		<h3>Topics (<%= @user.topics.count %>)</h3>
		<ol class = "topics">
			<%= render @topics %>
		</ol>
		<%= will_paginate @topics %>
	<% end %>
</div>
<div class="span8 lists_rect">
	<% if @user.posts.any? %>
		<h3>Posts (<%= @user.posts.count %>)</h3>
		<ol class = "posts_list">
			<%= render @posts %>
		</ol>
		<%= will_paginate @posts %>
	<% end %>
</div>
