<%= provide(:title, 'New Post') %>

<h1>New Post</h1>

<div class="form">
	<%= form_for([@forum, @topic, @post]) do |f| %>

		<%= f.hidden_field :topic_id %>

		<div class="larger_input">
			<%= f.label :content %>
			<%= f.text_area :content %>
		</div>

		<br>
		<%= f.submit "Post", class: "btn btn-large btn-primary" %>

	<% end %>
</div>